*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color:  #282D35;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: #121212;
    height: 90px;
    padding: 25px 30px;
}
.navbar > h3 ,.navbar >h4{
    margin: 0;
   
}
.navbar >h4{
    color: #DEEBF8;
    font-weight: 600;
}

.navbar > h3{
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}
.navbar img{
    margin-right: 7px;
}
main{
    padding: 57px 27px;
    color: white;
    
   
}
main::before{
            content: '';
            background: url('react-logo.png') 
                no-repeat center center;
            position: absolute;
            opacity: 0.3;
            top: 0px;
            left: 0px;
            width: 100vw;
            height: 100vh;
            z-index: -1;
}

h1{
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

main >ul{
    margin-top: 46px;
}
main >ul >li{
    line-height: 19px;
    padding-block: 10px;
}
main >ul >li::marker{
    font-size: 1.5rem;
    color: #61DAFB;

}